<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Éxito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Contraseña Restablecida</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-text class="ion-text-center">
        <p>Su contraseña ha sido restablecida exitosamente.</p>
        <p>Por favor, inicie sesión con sus nuevas credenciales.</p>
      </ion-text>
      
      <ion-button expand="block" routerLink="/home">
        Ir a Inicio
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
