<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="profile-container">
    <ion-avatar class="profile-avatar">
      <img src="assets/img/rocio.png" alt="Foto de perfil">
    </ion-avatar>
    <h2>Ingeniería en Informática</h2>
  </div>

  <div class="autoinfo">
    <h3>Foto del Auto</h3>
    <ion-img src="assets/img/autito4.png" alt="Foto del auto"></ion-img>
    <p>Patente: ABC123</p>
  </div>

</ion-content>
