<ion-header>
  <ion-toolbar>
    <ion-title>Detalles del Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Información del Viaje</h2>
  <!-- Detalles del viaje -->
  <p><strong>Origen:</strong> {{ viaje?.origen || 'N/A' }}</p>
  <p><strong>Destino:</strong> {{ viaje?.destino || 'N/A' }}</p>
  <p><strong>Asientos disponibles aún:</strong> {{ viaje?.asientosDisponibles || 0 }}</p>
  <p><strong>Pasajeros Confirmados:</strong> {{ viaje?.pasajeros?.length || 0 }}</p>

  <!-- Mostrar fecha si está disponible -->
  <ion-item *ngIf="viaje?.fecha">
    <ion-label>
      Fecha del viaje: {{ viaje.fecha | date: 'short' }}
    </ion-label>
  </ion-item>

  <h2>Información del Conductor</h2>
  <!-- Detalles del conductor -->
  <p><strong>Nombre del Conductor:</strong> {{ viaje?.nombreConductor || 'N/A' }}</p>
  <p><strong>Patente del Vehículo:</strong> {{ viaje?.patente || 'N/A' }}</p>
  <p><strong>Número de Contacto:</strong> {{ viaje?.numeroContacto || 'N/A' }}</p>

  <!-- Botón para finalizar el viaje -->
  <ion-button color="primary" expand="block" (click)="finalizarViaje()">Finalizar Viaje</ion-button>
</ion-content>
