<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Crear Cuenta</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="register()">
        <ion-item>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
        </ion-item>

        <ion-button expand="block" type="submit" [disabled]="!email || !password">
          Registrarse
        </ion-button>
      </form>
      <ion-router-link routerLink="/home" color="primary">¿Ya tienes cuenta? Inicia sesión</ion-router-link>
    </ion-card-content>
  </ion-card>
</ion-content>
