ion-item {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  ion-card {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto; 
    
  }
  .naruto {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  