<ion-header>
  <ion-toolbar>
    <ion-title>Esperando Pasajeros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" text-center>
  <div class="esperador">
    <h2>ESPERANDO PASAJEROS</h2>

    <ion-icon name="sync-outline" class="girar"></ion-icon>

    <p><strong>Origen:</strong> {{ origen }}</p>
    <p><strong>Destino:</strong> {{ destino }}</p>
    <p><strong>Asientos Totales:</strong> {{ asientos }}</p>
    <p><strong>Asientos Disponibles:</strong> {{ asientosDisponibles }}</p>
    <p><strong>Precio:</strong> ${{ precio }}</p>

    <ion-button [disabled]="asientosDisponibles === asientos" routerLink="/chofviajecurso" expand="block" class="button">
      COMENZAR VIAJE
    </ion-button>

    <ion-button color="danger" (click)="confirmarCancelacion()" expand="block" class="button">
      CANCELAR VIAJE
    </ion-button>    
  </div>
</ion-content>
